*.pyc
*.pyo
._*
.*.swp
*~
.svn
.idea
.DS_Store
build
dist
*.egg-info
*.jar
src/java/target
test.py
test
.tox
.project
.pydevproject
ZenPacks/zenoss/PS/JMXComponent/tests/standalone
ZenPacks/zenoss/PS/JMXComponent/tests/integration
*.log
tests/__init__.py
